body {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 35vw;
    margin-top: 10vh;
    font-family: Arial, sans-serif;
}

#rules{
    display: block;
}

#large-board {
    display: grid;
    margin: 10vh, 10vw, 10vh, 10vw;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;
}

.mini-board {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 5px;
    background-color: #dc19a8;
    border: 4px solid #a02323;
    border-radius: 15px;
    width: 160px;
    height: 160px;
    background-color:cornflowerblue;
}

.cell, .mini-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #0b0000;
    border-radius: 10px;
    cursor: pointer;
    color:crimson;
}

.highlight {
    background-color: lightblue;
    filter: brightness(110%);
}

.dimmed {
    background-color: #ccc;
    opacity: 0.6;
    filter: brightness(80%);
}

.cell-winner {
    background-color: lightgreen;
}
